@*
    ChatGPTのデバッグ用
    今までのチャットログを表示する
    役割と発言内容を表示する
*@

<table class="table table-primary table-striped table-bordered">
    <thead>
        <tr>
            <th>Role</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Logs)
        {
            var content = (MarkupString)log.Content.Replace("\r\n", "<br />").Replace("\n", "<br />");
            <tr>
                <td>@log.Role</td>
                <td>@content</td>
            </tr>
        }
    </tbody>
</table>


@code {
    /// <summary>
    /// ChatGPTのチャットログ
    /// </summary>
    [Parameter]
    [EditorRequired]
    public List<Azure.AI.OpenAI.ChatMessage> Logs { get; set; } = new();
}
